html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: #E9E1E5;
    font-family: 'DMMono';
}

html, body {
  height: 100%;
  margin: 0;
}

p {
    margin: 0;
    font-size: 1rem;
}

@font-face {
    font-family: DMMono;
    src: url(assets/fonts/DMMono-Regular.ttf);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.knowledge {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 45vw;
}

.eye {
    position: absolute;
    top: 32%;
    left: 46%;
}

.skillTitle{
    font-weight: 700;
}

.skill {
    font-size: 0.8rem;
    padding-bottom: 0.6rem;
}
