html {
    scroll-behavior: smooth;
    background-color: #E9E1E5;
    font-family: 'DMMono';
}

html, body {
  height: 100%;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body::-webkit-scrollbar {
  display: none;
}

p {
    margin: 0;
    font-size: 1rem;
}

@font-face {
    font-family: DMMono;
    src: url(assets/fonts/DMMono-Regular.ttf);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin-top: 35rem;
}

.section {
    display: flex;
    flex-direction: column;
}

.kittyface {
    position: relative;
    display: inline-block;
}

.logo {
    display: block;
    width: 45vw;
}

.eye {
    position: absolute;
    width: 8vw;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); /* centers the eye */
}

.subTitle{
    font-weight: 700;
    margin-bottom: 0.3rem;
}

.subText {
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
    max-width: 88vw;
}

.preview{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif {
    max-width: 65vw; 
    margin-top: 1rem;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 1));
}