html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  font-family: 'Urbanist', sans-serif;
  background-color: #F6F0F5;
}

@font-face {
  font-family: 'IntroScript';
  src: url('./assets/IntroScriptDemo-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'SaoTorpes';
  src: url('./assets/SaoTorpes.otf') format('opentype');
}





